<% if is_connected %>
<%#= image_tag @user.profile_picture %>
Connected as <%= @user.full_name %> - <%= link_to "Logout", action: "logout" %> - Followers (<%= @user.counts.followed_by %>) - Following (<%= @user.counts.follows %>)

<h1>The <%= @follows_not_back.size %> Instagram users you are following that are not following you back! :(</h1>
<table>
	<th>username</th>
	<th>full name</th>
	<th></th>
	<th></th>
	<% @follows_not_back.each do |follow| %>
		<tr>
			<td><%= link_to follow.username, "http://instagram.com/#{follow.username}", target: "_blank" %></td>
			<td><%= follow.full_name %></td>
			<td><button id="follow_<%=follow.id%>" data-type="follow" data-id="<%=follow.id%>" class="relationship disabled">following</button></td>
			<td><button id="unfollow_<%=follow.id%>" data-type="unfollow" data-id="<%=follow.id%>" class="relationship">unfollow</button></td>
			<td><%= image_tag "loader.gif", id: "loader_#{follow.id}", class: "loader hide" %></td>
		</tr>
	<% end %>
</table>
<% else %>
	<%= button_to "Connect with Instagram", {action: "connecting"}, class: "login" %>
<% end %>
